{{#section "head"}}
	<title>Editar Evento</title>
	<link rel="stylesheet" href="/vendors/leaflet/leaflet.css" />
	<link rel="stylesheet" href="/vendors/leaflet-geosearch/dist/leaflet.css">
{{/section}}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Editar Evento</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
						<div class="" role="tabpanel" data-example-id="togglable-tabs">
							{{> mostrar_errores}}
							<br>
						    <ul id="barra-navegacion-form" class="nav nav-tabs bar_tabs" role="tablist">
						        <li role="presentation" class="active"><a href="#tab_info" id="info" role="tab" data-toggle="tab" aria-expanded="true">1 - Información</a>
						        </li>
						        <li role="presentation" class=""><a href="#tab_contacto" class="enlace-contacto" role="tab" id="contacto" data-toggle="tab" aria-expanded="false">2 - Contacto</a>
						        </li>
						        <li role="presentation" class=""><a href="#tab_subir_fotos" class="enlace-subir-fotos" role="tab" id="subir-fotos" data-toggle="tab" aria-expanded="false">3 - Añadir Fotos al Álbum</a>
						        </li>
						        <li role="presentation" class=""><a href="#tab_foto_portada" class="enlace-foto-portada" role="tab" id="foto-portada" data-toggle="tab" aria-expanded="false">4 - Elige Foto de Portada</a>
						        </li>
						    </ul>
						    <form id="form-guardar-entidad" method="post" class="tab-content"  data-parsley-validate="">
					        	<div role="tabpanel" class="tab-pane fade active in" id="tab_info" aria-labelledby="info">
						        	<input type="hidden" name="tipo_sdi" value="Evento">
									<label>
										Nombre:
										<input value="{{datos.value.nombre}}" readonly="readonly" type="text" class="form-control">
									</label>
									<label>
										Descripción:
										<textarea type="text" class="form-control" rows="3" data-parsley-minlength="150" name="descripcion" placeholder="Describe las características, beneficios...">{{datos.value.descripcion}}</textarea>
									</label>
									<label class="input-peq">
										Fecha y hora Inicio-Fin:
										<input type="text" id="fecha_inicio_fin" name="fecha_inicio_fin" placeholder="dd/mm/aaaa" class="form-control picker_4" value="">
										<input type="hidden" required data-parsley-required-message="Debe ingresar fechas" name="fecha_inicio" id="fecha_inicio" value="">
										<input type="hidden" name="fecha_fin" id="fecha_fin" value="">
									</label>
									<label class="input-peq pull-right">
										Duración:
										<input value="{{datos.value.duracion}}" type="text" class="form-control" id="duracion" name="duracion" placeholder="Tiempo en horas de la experiencia...">
									</label>
									<div class="clearfix"></div>
									<label class="input-peq">
										Precio:
										<input value="{{datos.value.precio}}" required type="number" class="form-control" name="precio" min="0" placeholder="Precio en Bs.">
									</label>
									<div class="clearfix"></div>
									<label>
										Etiquetas:
										<input value="{{datos.value.etiquetas}}" type="text" id="etiquetas" class="form-control input-etiquetas" name="etiquetas" placeholder="Palabras claves que lo describan (esto para el motor de búsqueda)">
									</label>
						        </div>
						        <div role="tabpanel" class="tab-pane fade" id="tab_contacto" aria-labelledby="contacto">

									<label class="input-peq" id="sugerencias-ps">
						            	Prestador de Servicio:
						            	<input type="text" required autocomplete="off"  class="form-control caja-texto typeahead" name="prestador_servicio" id="prestador_servicio" placeholder="Sólo el nombre de usuario..." value="{{datos.value.prestador_servicio.usuario}}">
						            </label>
									<label class="input-peq pull-right">
										Correo:
										<input value="{{datos.value.correo}}" type="email" class="form-control" name="correo" required placeholder="Correo de Atención al Cliente">
									</label>
									<div class="clearfix"></div>

						        	<label class="input-peq">
						            	País:
						            	<input type="text" required readonly="readonly" class="form-control" name="pais" value="Venezuela">
						            </label>
									<label class="input-peq pull-right">
						            	Estado / Provincia:
						            	<input type="text" required readonly="readonly" class="form-control" name="estado" value="Sucre" placeholder="Estado / Provincia / Departamento...">
						            </label>
									<div class="clearfix"></div>

						            <label class="input-peq" id="sugerencias-ciudad">
						            	Ciudad:
						            	<input type="text" required autocomplete="off"  class="form-control caja-texto typeahead" name="ciudad" id="ciudad" placeholder="Municipio / Parroquia / Poblado..." value="{{datos.value.ubicacion.ciudad}}">
						            </label>
									<label class="input-peq pull-right" id="sugerencias-cp">
						            	Código Postal:
						            	<input type="text" required autocomplete="off"  class="form-control caja-texto typeahead" name="codigo_postal" id="codigo_postal" placeholder="0000" maxlength="4" maxlength="4" pattern="\d+" value="{{datos.value.ubicacion.codigo_postal}}">
						            </label>
						            <div class="clearfix"></div>

						            <label>
						            	Dirección:
						            	<input type="text" class="form-control" name="direccion" required placeholder="Calle/Avenida/Lugares de referencia, dirección exacta del lugar" value="{{datos.value.ubicacion.direccion}}">
						            </label>
						            <div class="clearfix"></div>
                                    <label class="input-peq">
                                        Teléfono:
                                        <input value="{{datos.value.telefono}}" type="tel" class="form-control" name="telefono" placeholder="Teléfono de Atención al Cliente">
                                    </label>
                                    <label class="input-peq pull-right">
                                        Página web:
                                        <input type="url" name="pagina_web" class="form-control" value="{{datos.value.pagina_web}}" placeholder="Sitio web institucional">
                                    </label>

						            <label>
						            	<input type="hidden" required="required" id="lat" name="lat" value="">
						            </label>
									<input type="hidden" required="required" id="lng" name="lng" value="">
									<br><br>
									<h4>Arrastre el marcador para reubicar</h4>
									<div id="mapa"></div>

						        </div>
						    	<div role="tabpanel" class="tab-pane fade" id="tab_subir_fotos" aria-labelledby="subir fotos">
                        			<div id="formSubirFotosAlbum" class="dropzone"></div>
						        </div>
						        <div role="tabpanel" class="tab-pane fade" id="tab_foto_portada" aria-labelledby="foto portada">
						        </div>

						        <div class="ln_solid"></div>
						        <div class="form-navigation">
									<button type="button" class="anterior btn btn-dark pull-left"><i class="fa fa-caret-left"></i> Anterior</button>
									<button type="button" class="siguiente btn btn-dark pull-right">Siguiente <i class="fa fa-caret-right"></i></button>
									<a href="/evento/listado" class="btn btn-success pull-right">Finalizar</a>
									<span class="clearfix"></span>
								</div>
						    </form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{{#section "js_libs"}}
	<script src="/vendors/leaflet/leaflet.js"></script>
	<script src="/vendors/leaflet-geosearch/dist/bundle.min.js"></script>
	<script src="/js/manejador-mapa.js"></script>
	<script src="/js/handlebars.min.js"></script>
	<script src="/vendors/typeahead/dist/typeahead.bundle.js"></script>
	<script>
		activarCreacionMarcadoresOSM([{{datos.value.geo_ubicacion.coordinates}}]);
		iniciarCalendario("{{datos.value.fecha_inicio}}", "{{datos.value.fecha_fin}}");
	</script>
{{/section}}
