{{#section "titulo_pagina"}}
    {{traduccion.TITULO_LUGAR_PAGINA}}
{{/section}}
{{#section 'head'}}
    <!-- <link href="/css/lugares.css" rel="stylesheet"> -->
    <link href="/css/busquedas.css" rel="stylesheet">
    <link href="/css/subcategorias.css" rel="stylesheet">
{{/section}}


<header class="site-header size-lg text-center" style="background-image: url(/images/lugares/monu3.jpg)">
     <div class="container">
            <div class="col-xs-12">
                <br>
                <br>
                <h1 id="subc">{{traduccion.TITULO_LUGAR_GENERAL}}</h1>
                {{> buscador_general}}
            </div>
        </div>
</header>


   <!--  <section class="backg-alt"> -->
       <div class="container">
            <header class="text-left colorh">
                <h3>{{traduccion.TITULO_LUGAR_DESTACADO_1}}</h3>
            </header>
        </div>
            <main>
                <div class="container">
                    <!-- NUEVO CARD -->
                    {{#if_mod datos.value.cantidad_resultados ">" 0}}
                        {{#if datos.value.lista_resultados}}
                            {{#each datos.value.lista_resultados}}            
                                <div class="col-md-4 col-sm-6 py">
                                    {{#if_mod ../datos.value.usuario_sesionado.tipo_usr "==" "Turista"}}
                                        <a href="/api/favoritos/lugar/{{this.url}}" class="corazon-favoritos sesionado"><img src="/images/like.png" alt="Añadir a mis Favoritos"></a>
                                    {{else}}
                                        {{#if_mod ../datos.value.usuario_sesionado.tipo_usr "==" "PrestadorServicio"}}
                                            <a class="corazon-favoritos"><img src="/images/like.png"></a>
                                        {{else}}
                                            <a href="/usuario/sesionarme" class="corazon-favoritos"><img src="/images/like.png" alt="Añadir a mis Favoritos"></a>
                                        {{/if_mod}}
                                    {{/if_mod}}
                                    <div class="tarjeta_container">
                                        <div class="img_container">
                                            <a href="/lugar/{{this.url}}">
                                                {{#if this.imagen_portada}}
                                                    <img src="{{this.imagen_portada.url}}" width="400" height="220" alt="image">
                                                {{else}}
                                                    <img src="/images/sin_imagen.png" width="400" height="220" alt="image">
                                                {{/if}}
                                            </a>       
                                        </div>
                                        <div class="tarjeta_title">
                                            <div>
                                                <h3 class="texto"><strong>{{this.nombre}}</strong></h3>
                                            </div>
                                            
                                            <div class="acciones">
                                                <div class="calif-entidades" data-calificacion={{this.promedio_calificaciones}}>
                                                </div>
                                                <div class="interaccion">
                                                    <div class="card__share">
                                                        <div class="card__social">
                                                            <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                                                            <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                                                            <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                                                        </div>
                                                        <a id="share" class="share-toggle share-icon" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{else}}
                        <!-- <h6>No se encontraron resultados <i class="fa fa-times" aria-hidden="true"></i></h6> -->
                        {{/if_mod}}
                        <!-- NUEVO CARD -->
                </div>
            </div>
</main>
        
   <!--  </section> -->
    <!-- SECTION DIVIDER3 -->
        <section class="section-divider textdivider divider3">
            <div class="container">
                <h1>{{traduccion.TITULO_LUGAR_DESTACADO_2}}</h1>
                <hr>
                <p>"{{traduccion.TITULO_LUGAR_DESTACADO_3}}"</p>
                <h6>-Quintín Cabrera-</h6>
            </div><!-- container -->
        </section><!-- section -->
        <!-- section -->
        <!-- Categorías -->
        <div class="cat_lug">
            <div class="container">
                <div class="subcategorias">
                    <h2>{{traduccion.TITULO_LUGAR_DESTACADO_4}}</h2>
                </div>
                 <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="_card">
                            <div class="card">
                                <figure class="front">
                                    <img src="/images/lugares/playa_sub.jpg">
                                    <div class="caption">
                                        <h2><span>{{traduccion.LUGAR_PLAYAS}}</span></h2>
                                        <p>{{traduccion.VER_PLAYAS}}</p>
                                        <a href="/busqueda/lugar/playa"></a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="_card">
                            <div class="card">
                                <figure class="front">
                                    <img src="/images/lugares/parque_sub.jpg">
                                    <div class="caption">
                                        <h2><span>{{traduccion.LUGAR_PARQUES}}</span></h2>
                                        <p>{{traduccion.VER_PARQUES}}</p>
                                        <a href="/busqueda/lugar/parque"></a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="_card">
                            <div class="card">
                                <figure class="front">
                                    <img src="/images/lugares/monumento_sub.jpg">
                                    <div class="caption">
                                        <h2><span>{{traduccion.LUGAR_MONUMENTOS}}</span></h2>
                                        <p>{{traduccion.VER_MONUMENTOS}}</p>
                                        <a href="/busqueda/lugar/monumento"></a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="_card">
                            <div class="card">
                                <figure class="front">
                                    <img src="/images/lugares/museo_sub.jpg">
                                    <div class="caption">
                                        <h2><span>{{traduccion.LUGAR_MUSEOS}}</span></h2>
                                        <p>{{traduccion.VER_MUSEOS}}</p>
                                        <a href="/busqueda/lugar/museo"></a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <!-- Fin Categorías -->


{{#section 'js_libs'}}
    <!-- <link rel="stylesheet" href="/vendors/starrr/dist/starrr.css">
    <link rel="stylesheet" href="/css/style-hotelfinder.css"> -->
{{/section}}
